block vars 
	- var title = '';
	- var lang = '';
	- var type = '';
	- var description = '';
	- var siteName = '';
	- var keywords = '';
	- var url = '';
	- var imageLogo = '';
	- var typeImage = '';
	- var widthImage = '';
	- var heightImage = '';
	- var favicon = '';
	- var font = '';
	- var light = '';
	- var dark = '';
doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		meta(property="og:type" content=type)
		meta(property="og:title" content=title)
		meta(property="og:site_name" content=siteName)
		meta(property="og:url" content=url)
		meta(property="og:description" content=description)
		meta(property="og:image" content=imageLogo)
		meta(property="og:image:type" content=typeImage)
		meta(property="og:image:width" content=widthImage)
		meta(property="og:image:height" content=heightImage)
		meta(name="color-scheme" content="light dark")
		meta(name="theme-color" media="(prefers-color-scheme: light)" content=light)
		meta(name="theme-color" media="(prefers-color-scheme: dark)" content=dark)
		link(rel="preload" href=font as="font" type="font/woff2" crossorigin)
		link(rel="shortcut icon" href=favicon type="image/webp")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/style.min.css")
		title #{title}
	body
		block content
